/* --- Оформление стандартных элементов ------------------------------------- */

a:link, a:active, a:visited, a:hover {
  color: #1D60A3;
}

a[href^='#'] {
  text-decoration: none;
  
  border-bottom: 1px dashed #1D60A3;
}

/* --- Свои вспомогательные элементы ---------------------------------------- */

.note_tag {
  color: #4F8F85 !important;
}

.tag_size_1 {
  font-size: 140%;
  color: #588F4F !important;  
}
.tag_size_2 {
  font-size: 100%;
  color: #4F8F85 !important;
}
.tag_size_3 {
  font-size: 80%;
  color: DimGray !important;
}

.chosen_tag {
  color: Black !important;
}

/* --- Глобальные настройки. Шрифт и цвета. --------------------------------- */

html {
  font-size: 90%;
}

html {
  background-color: #0E2F4F;
}
body {
  background-color: Snow;
  color: DimGray;
}

/* --- Расположение содержимого страницы ------------------------------------ */
    
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  
  padding-left: 2em;
  padding-right: 2em;
}
* html body {
  height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
  
  padding-top: 0.3em;
}

/* --- Оформление заголовка ------------------------------------------------- */

h1 {
  font-size: 140%;
  font-style: normal;
  font-weight: normal;
  
  color: #2D94FA;
  text-align: center;
}

/* --- Оформление функционального блока тэгов ------------------------------- */

#tags_header, #chosen_tags {
  margin: 0.5em;
  padding: 0;
}
#popular_tags, #all_tags, #chosen_tags {
  margin: 0.5em;
  padding: 0;
}
#all_tags .note_tag, #popular_tags .note_tag {
  margin: 0.5em;
}

#toggle_tags, #toggle_popular_tags, #toggle_all_tags {
  color: DimGray;
}

.active_link {
  color: Black !important;
}

/* --- Оформление блока заметок. Базовые оступы. ---------------------------- */

.note {
  margin: 0;
  padding: 0;
  
  margin-bottom: 0.7em;
  width: 100%;
}

/* --- Оформление внутренностей заметки. Отступы. --------------------------- */

.note td {
  padding: 0.3em;
}

/* --- Оформление внутренностей заметки. Взаимное расположение элементов ---- */

.note_header {
  position: relative;
}
.note_date {
  position: absolute;
  top: 0;
  right: 0;
}

/* --- Оформление внутренностей заметки. Украшательства элементов ----------- */

.note_title {
  text-align: center;
}

.note_date {
  color: #2D94FA;
}
.note_title, .note_title a:link, .note_title a:active, .note_title a:visited, .note_title a:hover {
  color: #2D94FA;
}

/* --- Оформление элементов, которые могут быть помещены в содержимое заметки */

.note_contents table {  
  border-collapse: collapse;
}
.note_contents td, .note_contents th {
  border: 1px Gray Solid;
}
.note_contents th {
  font-weight: normal;
  
  color: #0E2F4F;
}

.note_contents hr {
  border-width: 0;
  border-top: 1px Solid Gray;
}

pre {
  display: inline;
  
  color: #0E2F4F;
}

h6 {
  font-size: 100%;
  font-weight: normal;
  
  color: #0E2F4F;
}

/* --- Некоторые элементы должны изначально быть скрыты! -------------------- */

#all_tags, #chosen_tags {
  display: none;
}

